body {
  margin: 0;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 120px;
  font-weight: 700;
  color: #000;
  margin-bottom: -20px;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 56px;
  line-height: 1.10746;
  font-weight: 500;
  letter-spacing: .004em;
  color: #000;
  margin-bottom: 5px;
  margin-top: 0px;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 55px;
  font-weight: 500;
  margin-top: 0px;
  color: #000;
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  color: #000;
}

h5 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  color: #000;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 22px;
  line-height: 1.45455;
  font-weight: 300;
  letter-spacing: .016em;
  color: #000;
  margin-top: 0px;
}

p.sub.desc {
  color: #4A4A4A;
  margin-top: 5px;
  position: relative;
  margin-left: 0;
}

.white {
  color: #fff;
}

.overflow-hidden {
  overflow: hidden;
}

#intro {
  background-color: #fff;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

.intro-body {
  margin: auto;
  text-align: center;
  position: absolute;
  width: 1000px;
  text-align: center;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#typed {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 55px;
  font-weight: 500;
  margin-top: -100px;
  color: #e74c3c;
}

.typed-cursor {
  font-size: 55px;
  opacity: 1;
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#technology {
  background-color: #EDEDED;
}

.interest-container {
  padding: 60px 0px 26px 0px;
}

.centered-horizontally {
  text-align: center;
}

.projects-container {
  padding: 60px;
  width: 1050px;
}

img {
  height: 100%;
  width: 100%;
}

.card {
  border-radius: 14px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
  position: relative;
  display: inline-block;
}

.card.project {
  transition: .8s cubic-bezier(.2, 1, .2, 1)
}

.card.project:hover {
  border-radius: 14px;
  -webkit-transform: scale(1.048) translateY(-5px);
  -ms-transform: scale(1.048) translateY(-5px);
  transform: scale(1.048) translateY(-5px);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, .5);
  box-shadow: 0 20px 40px rgba(0, 0, 0, .5)
}

.card.prioritize {
  background-color: #609AE6;
  width: 280px;
  height: 377px;
}

img.prioritize-logo {
  width: 180px;
  height: 180px;
  margin-left: 17%;
  margin-top: 38%;
}

.header-transparent-blur {
  background-color: rgba(255, 255, 255, .75);
  position: absolute;
  height: 19%;
  width: 100%;
  -webkit-backdrop-filter: blur(40px);
  border-radius: 14px 14px 0px 0px;
  backdrop-filter: blur(20px);
}

.card-header {
  position: absolute;
  margin-left: 30px;
  margin-top: 17px;
}

.card-header.white {
  color: #fff;
}

.brown {
  color: #352F2C;
}

p.sub {
  position: absolute;
  margin-left: 30px;
  bottom: 0px;
  font-weight: 300;
  font-size: 20px;
}

p.sub.white {
  color: #fff;
}

.first-row, .second-row, .third-row {
  margin-bottom: 60px;
}

div.col-md-8.left {
  padding-right: 35px;
}

div.col-md-4.right {
  padding-left: 25px;
}

div.col-md-4.left {
  padding-right: 25px;
}

div.col-md-8.right {
  padding-left: 35px;
}

.wwdc-banner {
  padding-top: 60px;
  margin-bottom: 60px;
  background-image: url('../img/wwdc-background.png');
  height: 400px;
  text-align: center;
}

.banner-body {
  margin: auto;
  text-align: center;
  position: absolute;
  width: 1000px;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.banner {
  font-size: 24px;
  font-weight: 300;
}

a.pill-button {
  width: 200px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 100px;
  position: absolute;
  margin-top: 20px;
  margin-left: -103px;
}

.plus-icon {
  width: 28px;
  height: 28px;
  margin-bottom: 6px;
  display: inline-block;
}

.learn-more-text {
  font-size: 24px;
  font-weight: 300;
  padding-top: 12px;
  padding-left: 10px;
  display: inline-block;
}

#biology {
  background-color: #EDEDED;
}

img.bio-pic {
  max-height: 800px;
  display: block;
  width: auto;
  height: auto;
}

#contact {
  background-color: #fff;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
}

.contact-body {
  margin: auto;
  text-align: center;
  position: absolute;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-container {
  margin-top: 40px;
}

.fa {
  font-size: 70px;
}

.contact {
  color: #232323;
  transition: .8s cubic-bezier(.2, 1, .2, 1)
}

.contact.linkedin:hover {
  color: #0077B5;
}

.contact.github:hover {
  color: #000;
}

.contact.twitter:hover {
  color: #00b6f1;
}

@media only screen and (max-width: 1068px) {
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 48px;
    line-height: 1.125;
    font-weight: 500;
    letter-spacing: .006em;
  }
  h3 {
    font-size: 40px;
    margin-top: 0px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: .017em;
  }
  p.desc {
    font-size: 17px;
  }
  .intro-body {
    width: 650px;
  }
  #typed {
    font-size: 40px;
  }
  .typed-cursor {
    font-size: 40px;
  }
  .card.center-block.img-responsive {
    width: 50%;
  }
  .banner-body {
    width: 770px;
  }
  a.pill-button {
    margin-top: 15px;
  }
  .contact-body {
    width: 600px;
  }
}

@media only screen and (max-width: 735px) {
  h1 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 38px;
    line-height: 1.15825;
    font-weight: 500;
    letter-spacing: .009em;
  }
  h3 {
    font-size: 27px;
    margin-top: 0px;
  }
  p {
    font-size: 19px;
    line-height: 1.47384;
    font-weight: 300;
    letter-spacing: .018em;
  }
  p.desc {
    font-size: 16px;
  }
  .intro-body {
    width: 325px;
  }
  #typed {
    font-size: 27px;
  }
  .typed-cursor {
    font-size: 27px;
  }
  .interest-container {
    padding: 26px 26px 26px 26px;
  }
  .banner-body {
    width: 350px;
  }
  h2.white {
    font-size: 30px;
  }
  h5 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  p.banner {
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
  }
  a.pill-button {
    width: 130px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 100px;
    position: absolute;
    margin-top: 20px;
    margin-left: -65px;
  }
  .plus-icon {
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
    display: inline-block;
  }
  .learn-more-text {
    font-size: 14px;
    font-weight: 300;
    padding-top: 7px;
    padding-left: 5px;
    display: inline-block;
  }
  #contact {
    margin-top: 0px;
  }
  .contact-title {
    font-size: 40px;
  }
  .fa {
    font-size: 60px;
  }
  .col-sm-3 {
    margin-bottom: 10px;
  }
  .contact-container {
    margin-top: 10px;
  }
}
