body {
  margin: 0;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 120px;
  font-weight: 700;
  color: #000;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 64px;
  font-weight: 600;
  color: #000;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 55px;
  font-weight: 500;
  margin-top: -100px;
  color: #000;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 40px;
  font-weight: 400;
  color: #000;
}

p.sub {
  font-size: 24px;
  color: #4A4A4A;
  margin-top: 5px;
}

.overflow-hidden {
  overflow: hidden;
}

#intro {
  background-color: #598043;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

.intro-body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1000px;
  transform: translate(0%, 80%);
}

#technology {
  background-color: #986043;
  height: 70vh
}

.tech-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

.centered {
  text-align: center;
}
