body {
  margin: 0;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 120px;
  font-weight: 700;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Roboto;
  font-size: 55px;
  font-weight: 500;
  margin-top: -100px;
}

.overflow-hidden {
  overflow: hidden;
}

#intro {
  background-color: #598043;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

.intro-body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1000px;
  transform: translate(0%, 85%);
}

#technology {
  background-color: #986043;
  height: 65.52734375vh
}

.technology-body {
  display: inline;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}
